<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/MagentoFrameword/App/etc/rutes.xsd">
	<router id="admin">
		<route id="pipwave_payment" frontName="pipwave_payment">
			<module name="Pipwave_Payment"/>
		</route>
	</router>
</config>