<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation=
		"../../../../Magento/Config/etc/system_file.xsd">
	<system>
		<tab id="pipwave" translate="label" sortOrder="10">
			<label>Pipwave Payment</label>
		</tab>
		<section id="pip_payment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Pipwave Payment</label>
			<tab>pipwave</tab>
			<resource>Pipwave_Payment::pipwave_payment</resource>
			<group id="pipp_payment" translate="label" sortOrder="2"
				   showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Pipwave Payment</label>
				<field id="enable" translate="label comment" sortOrder="1"
					   type="select" showInDefault="1" showInWebsite="1" 
					   showInStore="0">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
			</group>
		</section>
	</system>
</config>